header {
    /* era essa propriedade aqui que eu não lembrava :) */
    position: static;

}

body {
    background-color: rgb(251, 246, 238);
}

article {

    margin: 40px auto;
    margin-bottom: 60px;
    width: 70%;


}

h1 {
    font-size: 6rem;
}

p {

    text-align: justify;

}

.txt-list li {
    font-weight: 300;
    padding-left: 10px;
    line-height: 3rem;
    margin-left: 50px;
    font-size: 1.6rem;
    list-style: disc;
}

@media (max-width: 767px) {
    article {

        margin: 40px auto;
        margin-bottom: 60px;
        width: 80%;


    }

    h1 {
        font-size: 4rem;
    }

    p {

        text-align: left;

    }
}